<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
      <header>
        <nav>
            <ul>
                <li><a href="/" class="active">Inicio</a></li>
                <li><a href="/calculadora">Calculadora</a></li>
                <li><a href="/qr">Generador de QR</a></li>
            </ul>
        </nav>
    </header>
<div class="calculator">
  
  <input type="text" id="pantalla" class="display" disabled>

  <button class="clear" onclick="limpiarPantalla()">C</button>
  <button class="operator" onclick="agregarPantalla('/')">÷</button>
  <button onclick="agregarPantalla('7')">7</button>
  <button onclick="agregarPantalla('8')">8</button>

  <button onclick="agregarPantalla('9')">9</button>
  <button class="operator" onclick="agregarPantalla('*')">×</button>
  <button onclick="agregarPantalla('4')">4</button>
  <button onclick="agregarPantalla('5')">5</button>

  <button onclick="agregarPantalla('6')">6</button>
  <button class="operator" onclick="agregarPantalla('-')">−</button>
  <button onclick="agregarPantalla('1')">1</button>
  <button onclick="agregarPantalla('2')">2</button>

  <button onclick="agregarPantalla('3')">3</button>
  <button class="operator" onclick="agregarPantalla('+')">+</button>
  <button onclick="agregarPantalla('0')">0</button>
  <button class="equal" onclick="calcular()">=</button>
</div>

  <script src="/tarea6.js"></script>
</body>
</html>